<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー情報</title>
</head>
<body>

<h1>マイページ</h1>

<form th:action="@{/user/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        名前：<input th:field="*{name}">
    </div>
    <div>
        メール：<input th:field="*{email}">
    </div>
    <button type="submit">更新</button>
</form>

<form th:action="@{/user/delete}" method="post">
    <input type="hidden" name="id" th:value="${user.id}">
    <button type="submit">退会</button>
</form>

</body>
</html>
